@using TrabalhoADO.Areas.Painel.Models
@model Empresa
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Painel/Views/Shared/_Layout.cshtml";
}
<form class="form-horizontal" method="POST" action="">
    <fieldset>

        <!-- Form Name -->
        <legend>Atualizar Dados</legend>
        <!-- Text input-->
        <div class="control-group">
            <label class="control-label">Nome</label>
            <div>
                <input id="Nome" name="Nome" type="text" value="@Model.Nome" placeholder="Nome" required>
                <p class="help-block"></p>
            </div>

            <label class="control-label">Telefone</label>
            <div>
                <input id="Telefone" name="Telefone" value="@Model.Telefone" type="text" placeholder="Telefone" required>
                <p class="help-block"></p>
            </div>

            <label class="control-label">Endereco</label>
            <div>
                <input id="Endereco" name="Endereco" value="@Model.Endereco" type="text" placeholder="Endereco" required>
                <p class="help-block"></p>
            </div>
            <label class="control-label">Categoria</label>
            <div>
                <select id="CategoriaId" name="CategoriaId">
                    @foreach (var item in (List<Categoria>)ViewBag.listaCategorias)
                    {
                        <option value="@item.CategoriaId" selected>@item.NomeCategoria</option>
                    }
                </select>
            </div>

        </div>

        <!-- Button -->
        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <button id="enviar" name="enviar" class="btn btn-primary">Atualizar</button>
            </div>
        </div>

    </fieldset>
</form>